# Exercícios Resolvidos

## 01) Crie uma lista de 3 elementos e calcule a terceira potência de cada elemento

In [3]:
number_list = [1, 2, 3]
pow_3_number_list = list(map(lambda x: pow(x, 3), number_list))
print(pow_3_number_list)

[1, 8, 27]

## 02) Reescreva o código abaixo, usando a função map(). O resultado final deve ser o mesmo!
```
palavras = 'A Data Science Academy oferce os melhores cursos de análise de dados do Brasil.'.split()
resultado = [[w.upper(), w.lower(), len(w)] for w in palavras]
for i in resultado:
    print (i)
```

In [10]:
words = 'A Data Science Academy oferce os melhores cursos de análise de dados do Brasil.'.split()
result = list(map(lambda x: [x.upper(), x.lower(), len(x)], words))
for i in result:
    print (i)

['A', 'a', 1]
['DATA', 'data', 4]
['SCIENCE', 'science', 7]
['ACADEMY', 'academy', 7]
['OFERCE', 'oferce', 6]
['OS', 'os', 2]
['MELHORES', 'melhores', 8]
['CURSOS', 'cursos', 6]
['DE', 'de', 2]
['ANÁLISE', 'análise', 7]
['DE', 'de', 2]
['DADOS', 'dados', 5]
['DO', 'do', 2]
['BRASIL.', 'brasil.', 7]

## 03) Calcule a matriz transposta da matriz abaixo.
```
matrix = [[1, 2],[3,4],[5,6],[7,8]]
```

In [5]:
matrix = [[1, 2],[3,4],[5,6],[7,8]]
transposted_matrix = []

for num in range(len(matrix[0])):
    new_row = []
    for row in matrix:
        new_row.append(row[num])
    transposted_matrix.append(new_row)
print(transposted_matrix)

[[1, 3, 5, 7], [2, 4, 6, 8]]

## 04) Crie duas funções, uma para elevar um número ao quadrado e outra para elevar ao cubo. Aplique as duas funções aos elementos da lista abaixo. Obs: as duas funções devem ser aplicadas simultaneamente.
```
lista = [0, 1, 2, 3, 4]
```

In [11]:
number_list = [0, 1, 2, 3, 4]

def pow_2(number):
    return number**2

def pow_3(number):
    return number**3

functions = [pow_2, pow_3]

for number in number_list:
    values = (map(lambda x: x(number), functions))
    print(list(values))

[0, 0]
[1, 1]
[4, 8]
[9, 27]
[16, 64]

## 05) Abaixo você encontra duas listas. Faça com que cada elemento da listaA seja elevado ao elemento correspondente na listaB.
```
listaA = [2, 3, 4]
listaB = [10, 11, 12]
```

In [13]:
list1 = [2, 3, 4]
list2 = [10, 11, 12]

list(map(lambda x, y: x**y, list1, list2))

[1024, 177147, 16777216]

## 06) Considerando o range de valores abaixo, use a função filter() para retornar apenas os valores negativos.
```
range(-5, 5)
```

In [15]:
list(filter(lambda x: x < 0, range(-5, 5)))

[-5, -4, -3, -2, -1]

## 07) Usando a função filter(), encontre os valores que são comuns às duas listas abaixo
```
a = [1,2,3,5,7,9]
b = [2,3,5,6,7,8]
```

In [17]:
list(filter(lambda x: x in a, b))

[2, 3, 5, 7]

## 08) Considere os dois dicionários abaixo. Crie um terceiro dicionário com as chaves do dicionário 1 e os valores do dicionário 2
```
dict1 = {'a':1,'b':2}
dict2 = {'c':4,'d':5}
```

In [23]:
dict1 = {'a':1,'b':2}
dict2 = {'c':4,'d':5}

def changeKeyValue(dict1, dict2):
    temporary_dict = {}
    for dict1key, dict2value in zip(dict1, dict2.values()):
        temporary_dict[dict1key] = dict2value

    return temporary_dict

changeKeyValue(dict1, dict2)

{'a': 4, 'b': 5}

## 09) Considere a lista abaixo e retorne apenas os elementos cujo índice for maior que 5.
```
lista = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
```

In [21]:
char_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
new_char_list = []
for index, value in enumerate(char_list):
    if index > 5:
        new_char_list.append(value)

print(new_char_list)

['g', 'h']

## 10) Crie um regex em Python para extrair a palavra que aparece depois das palavras. Data e Science na frase: 'A Data Science Academy oferce os melhores cursos de análise de dados do Brasil.'

In [29]:
# Exercício 10 - Crie um regex em Python para extrair a palavra que aparece depois das palavrasData e Science na frase: 'A Data Science Academy oferce os melhores cursos de análise de dados do Brasil.'
import re
text = 'A Data Science Academy oferece os melhores cursos de análise de dados do Brasil.'
result = re.findall(r'Data Science (\w+)', text)
print(result[0])

Academy